.countsec{
    margin-left: 30px;
}

.countsec h6{
    margin: 20px;
   
    
}
.countsec a{
    text-decoration: none;
    color: black;
}

.appliance-slider{
    display: flex;

}

.appliance-item{
  min-height:100px;
   min-width:100px;
   margin-right: 30px;
   display:block;
   

}
.appliance-details{
    display: block;
}

.count-items{ 
    
    overflow-x: auto;
  }
  .count-items::-webkit-scrollbar{
    width:0;
  }


@media screen and (min-width:853px) {
   /* .appliance-slider{

   } */
   .count-items{
    max-width: 50vw;
   }
    .appliance-slider{
        display:grid;
        grid-template-columns: auto auto auto auto;
    
    }
}