*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.counting{
    margin-left: 30px;
    background-color: white;
}
.counting h6{
    
    margin-bottom: -5px;
   font-weight:500;
}
.countfirst{
    margin:0px 0px 10px 0px;
}
.counting span {
    font-size: 14px;
    font-weight:200;
   line-height:-4em;
}

@media screen and (max-width:512px) {
    

.counting{
    margin-left:30px;
    background-color: white;
}

.counting h6{
    font-size: 14px;
    margin-bottom:1rem;
   font-weight:450;
}
.counting span {
    font-size: 10px;
    font-weight:200;
   line-height:-4em;
}
.countfirst{
    margin:0px 0px 10px 0px;
}
}
 



